{% extends "./template.html" %}

{% block page_includes %}
  <script src="/static/JS/filters.js"></script>
  <script src="/static/JS/lazyload.js"></script>
  <link rel="stylesheet" href="/static/CSS/compare.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-3 col-xs-12 filters">
        {# Loop through value filters #}
        {% for filterName, values in filters %}
          <b class="filterTitle">{{ filterName }}</b>
          <div class="filterOptions">
            {% for value, checked in values %}
              <div class="option">
                {% if checked %}
                  <input data-filter="{{ filterName }}" data-value="{{ value }}" checked="checked" class="filterCheckbox form-check-input" type="checkbox">
                {% else %}
                  <input data-filter="{{ filterName }}" data-value="{{ value }}" class="filterCheckbox form-check-input" type="checkbox">
                {% endif %}
                <label>{{ value }}</label>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

        {# Custom filters #}
        <b>Price</b>
        <div class="filterOptions">
          <input type="number" id="minPrice" class="priceInput input-group-text" value="{{ getParameters.minPrice | default(0) }}">
          <span>to</span>
          <input type="number" id="maxPrice" class="priceInput input-group-text" value="{{ getParameters.maxPrice | default(100000) }}">
          <button class="btn btn-secondary" id="updatePriceButton">Update price</button>
        </div>

      </div>
      <div class="col-md-8 col-xs-12">
          {% for vehicle in vehicles %}
            <div class="card mb-3" style="max-width: 840px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img data-src="{{ vehicle.image_url }}" class="img-fluid rounded-start lazyload" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ vehicle.manufacturer }} - {{ vehicle.model }}</h5>
                    <p class="card-text">{{ vehicle.description }}</p>
                    <p class="card-text">Bouwjaar: {{ vehicle.year }}</p>
                    <a href="#" class="btn btn-primary">Buy for {{ vehicle.formattedPrice }}</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}