{% extends "./template.html" %}

{% block content %}
    <div class="container">
        <h2 class="text-center error">Something broke...</h2>
        <div class="text-center">
          <p> {{ error }} </p>
          <img width="30%" src="/static/IMG/errorimage.jpg" class="img-small" alt="Responsive image">
        </div>
    </div>
{% endblock %}