{% extends "./template.html" %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Find your new car!</h1>
        <p class="lead text-muted">Take a look in our huge assortiment of 3 cars. Something for everyone (especially if you like Porsche, Mercedes Benz or BMW). Instant delivery.</p>
        <p>
          <a href="/compare" class="btn btn-primary">Look at all of the 3 cars</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}