.priceInput{
  display: inline-block;
  width: 100px;
}

#updatePriceButton{
  margin-top: 10px;
  display: block;
}

.filterTitle {
  text-transform: capitalize;
}

.filterOptions {
  margin-bottom: 10px;
}

.filterOptions label {
  margin-left: 5px;
}

.filters {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
}

.row {
  align-items: flex-start;
}